<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/movies.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>Movies</h1>
</div>

<div class="container">
    <div class="row">
        <div id="movies" class="col-sm-4">
            <h2>Movies</h2>

        </div>
        <div id="comments" class="col-sm-4">
            <h2>User who has added most comments</h2>

        </div>
        <div id="likes" class="col-sm-4">
            <h2>Movie with highest likes</h2>

        </div>
    </div>
</div>

</body>
</html>
